# Systems
uploads/*
!uploads/.gitkeep
node_modules/
.next/
out/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs and temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
uploads/temp/*

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Prisma
/prisma/migrations/
